<div class="container clearfix">
    <p class="title">That's My Farm</p>
    <div class="intro-text">
      <p>You can map the boundary of your farm. You can map the boundary of your farm. You can map the boundary of your farm. You can map the boundary of your farm. </p>
      <p>You can map the boundary of your farm.&nbsp;You can map the boundary of your farm. </p>
  </div>
  <a href="#" class="button large start">GET STARTED</a>
</div>