<div class="container">
    <p class="title">That's My Farm</p>
    <div class="intro-text">
      <p>You can map the boundary of your farm.</p>
      <p>Head to one edge and tap below to start.</p>
  </div>
  <div class='name-farm'>
    <em>Name your farm</em>
    <input type='text' id='farm_name'/>
  </div>
  <a id='create-farm' class='button large start'>GET STARTED</a>
</div>
