<div class="container clearfix">
    <p class="title">That's My Farm</p>
    <div class="intro-text">
      <p>You can map the boundary of your farm. You can map the boundary of your farm. You can map the boundary of your farm. You can map the boundary of your farm. </p>
      <p>You can map the boundary of your farm.&nbsp;You can map the boundary of your farm. </p>
  </div>
  <label>Name your farm</label>
  <input type='text' id='farm_name'/>
  <a id='create-farm' class='button large start'>GET STARTED</a>
</div>
