  <div class="container clearfix">
    <a href="#" class="button medium finish">FINISH</a>
    <a href="#" class="button medium undo">UNDO LAST</a>
    <a href="#" class="button large mark">MARK POINT</a>
  </div>