/*
  ============================================
  #Global
  ============================================
*/
/*
  ============================================
  #CSS RESET
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
  ============================================
*/

body {
  font: 300 1.5em/1.38 'PT Sans';
  color: rgb(255, 255, 255);
  background-color: #313131;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
}

.big-title.center-text {
  color: #FFA700;
  margin-bottom: 30px;
}

button.toggle-mode {
  font-size: 2em;
}


.table {
  width: 31.66667%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

.map {
  width: 48.33333%;
  float: left;
  margin-left: 0.83333%;
  margin-right: 0.83333%; }

@media (max-width: 700px) {
  .map, .table {
    float: none;
    width: 80%;
  }
}

/*
  ========================================
  #Table
  ========================================
*/
table {
  border-collapse: collapse; }

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left; }

/*
  ========================================
  #Map
  ========================================
*/
#map {
  height: 600px; }

