body {
  font: 300 1.5em/1.38 'PT Sans';
  color: rgb(255, 255, 255);
  background-color: #313131;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
}

.name-farm {
  text-align: center;
}

.name-farm input {
  font-size: 2em;
  width: 90%;
}

.name-farm label {
}

.button-row {
  overflow: hidden;
  margin-bottom: 20px;
}

.container {
  float: left;
  width: 100%;
  min-height: 480px;
  height: 627px;
}

.claim-url {
  display: block;
  width: 77.6051682692%;
  margin: 453px auto 0;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.intro-text {
  width: 77.6061776061%;
  min-height: 74px;
  margin: 48px auto 0;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.intro-text p {
  margin-bottom: 1em;
}

.title {
  width: 88.2239382239%;
  min-height: 67px;
  margin: 22px auto 0;
  font-size: 2.167em;
  font-weight: 600;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 167, 0);
}

.you-submitted {
  width: 77.6061776061%;
  margin: 28px auto 0;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.view-admin {
  width: 77.6061776061%;
  margin: 28px auto 0;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
  text-align: center;
}

.view-admin a {
  color: rgb(255, 255, 255);
}

.button {
  border: 0;
  border-radius: 2px;
  display: block;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(101, 170, 26);
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}

.button.large {
  padding-top: 20px;
}

.button.medium {
  padding-top: 10px;
  height: 45px;
  width: 35%;
  font-size: 0.75em;
}

.button:hover {
  background-color: #417505;
}

.button.start {
  width: 70%;
  height: 79px;
  margin: 25px auto 0;
  font-size: 1.292em;
}

.button.mark {
  width: 68.3823529411%;
  height: 61px;
  margin: 10px auto 0;
  font-size: 1.167em;
  padding-top: 13px;
}

.button.undo {
  position: relative;
  float: right;
  margin: 18px 6.9982% 0 0;
}

.button.finish {
  position: relative;
  float: left;
  margin: 18px 0 0 6.9982%;
}

.button.submit {
  float: left;
  margin: 18px 0 0 6.9982%;
  background-color: #FFA700;
}

#map {
  min-height: 10px;
  height: 80%;
}
